<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  
  <body>
    <h1>Wassup fellas</h1>
    <p>Get on your purpose and whatever the case may be!</p>
  </body>
</html>