nav {
  float: right;
}

header img {
  float: left;
}

.main_section {
  width: 700px;
}

body {
  width: 900px;
}

aside {
  width: 180px;
}



/* CSS Float
In this section, we will be updating our navbar to use the float property and create a basic fluid grid system for our main content. Let us begin. 🙏

Instead of making the nav into an inline-block element, use float to put our nav in the top-right.
Just for fun, float the logo to the left and then clear-fix the vertical collapse problem.
Replace the fixed pixel widths of our aside and main content section with a fluid grid system similar to those seen 
in the CSS Grid System video. Create a css file calledcustom_grid.css and add these changes to that file. 
Note that this will require updating index.html with respective container class names.
You may need to give your recipe image a width of 100% so it expands to fit the entire figure and does not default to its natural fixed pixel width. 
Do this for all images by applying it to custom_reset.css.