/* Introduction to Cascading Style Sheets */

body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered Lsit element */
ul li a, figcaption a {
  text-decoration: none;
  color: inherit;
}

/* This selector selects only IMMEDIATE (1 level deep) image element children
of the header element */
header > img {
  width: 175px;
}

/* Selects all elements with the class attribute "ingredients-list" */
.ingredients-list {

  /* The list style property is shorthand for multiple list-style properties*/
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

/* input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(../assets/stars.png);
    vertical-align: bottom;
} */

input[type="radio"]:checked {
  background-position: 30px 30px;
}


input:last-child {
    background: gold;
}

input:last-child:hover {
    -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
}

h2 + .user_review {
    border-top: 1px solid black;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
}

.main_body {
  display: flex;
  flex-direction: row;
}

.main_section {
  width: 700px;
}

.ingredients {
  margin-right: 20px;
}

.ingredients li, .main_section ol li {
  margin: 15px 15px;
}

aside {
  width: 180px;
}

#review-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#review-form > * {
  margin: 5px 0px;
}

.radio-rating {
  display: flex;
  flex-direction: row;
}

#review-form textarea {
  width: 350px;
}

#review-form select {
  width: 300px;
}